*{
    padding: 0;
    margin: 0;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}


.homePage{
    background: url(./Assets/heroSectionBackground.png);
    width: 99vw;
    height: 72vh;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   
}
.navbar{
    height: 9vh;
    width: 99vw;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
   
}



.navbar-left{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.8rem;
}

    
.navbar-right{
    display:flex ;
    justify-content: flex-end;
    gap: 4vw;
    width: 60vw;   
    overflow: hidden;
}

.navbar-right > a{
    color: aliceblue;
    text-decoration: none;
}
#user-logo{
    padding: 1px 8px;
    border-radius: 50%;
    /* border: 2px solid white; */
}
@media (max-width:800px) {
    .navbar{
        font-size: 10px;
       
    }
    #user-logo{
        display: none;
    }
    .navbar-right{
        width: 74vw;
    }
}
.zomatoLogo{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    margin-top: 12vh;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 500;
    gap: 3vh;
    text-align: center;
}


#zomatoLogo-img{
    width: 24vw;
    height: 11vh;
}
@media (max-width:800px) {
    #zomatoLogo-img{
        width: 38vw;
        height: 6vh;
    }
    .zomatoLogo{
        font-size: 1rem;
    }
}
.zomatoPlaceholders{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    
    text-align: center;
  
}
.placeholders1{
    width: 13vw;
    height: 8vh;
    padding: 25px 15px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #e0e0e0;

}
.placeholders2{
    width: 31vw;
    height: 8vh;
    padding: 25px 15px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (max-width:800px) {
    .placeholders1{
        width: 28vw;
        height: 4vh;
 
    }
    .placeholders2{
        width: 56vw;
        height: 4vh;
    }
}


 /* CARD-SECTION */

.card-section{
    display: flex;
    justify-content: center;
    height: 55vh;
    width: 99vw;
    flex-direction: row;
    margin-top: 6vh;
    overflow: hidden;
}


.card-innerSection{
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    overflow: hidden;
    height: 55vh;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 2px solid #e0e0e0;
    padding-bottom: 2vh;
    border-radius: 12px;
    height:50vh;
    
}


.cards-img{
    height: 41vh;
    width: 28vw;
    border-top-left-radius: 12px;
    border-top-right-radius:12px  ;
}

.cardHeading{
    font-size: 18px;
    font-weight: 500;
    padding-left: 1vh;
}
.cardPara{
    font-size: 12px;
    padding-left: 1vh;
}


/* Collections */

.collection-section{
    display: flex;
    height:75vh;
    width: 99vw;
    flex-direction: column;
    margin-top: 4vh;
    align-items: center;
    overflow: hidden;
}
.collections-headings{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
    
}
.collectionsHeadings-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 64vw;
    margin-left: 5vw;

}
#collectionHead-left{
    font-size: 2.4rem;
    font-weight: 400;

}

#collectionPara-left{
    font-weight: 100;
    font-size: 0.6em;
}
.collectionsHeadings-right{
    display: flex;
    justify-content: flex-end;
    width: 20vw;
    margin-right: 5vw;
    color:rgb(231, 66, 83);
    display: flex;
    align-items: center;
}
.collections{
    display: flex;
    width: 84vw;
    gap: 1vw;
    margin-top: 2vh;

}
.collection-cards{
    position: relative;
}
.collections-image{
    height: 53vh;
    width: 21vw;
    border-radius: 15px;
    
    top: 0;
    left: 0;
}

.collection-Para1{
    font-size: 1.1rem;
    position: absolute;
    top: 311px;
    left: 9px;
    color: aliceblue;
}
.collection-Para2{
    font-size: 0.8rem;
    position: absolute;
    top: 342px;
    left: 11px;
    color: aliceblue;
}

/* signingup-section */

.signingup-section{
   height: 85vh;
    width: 99.6vw;
    display: flex;
    margin-top: 5vh;
}

.signup-Left{
    width: 43vw;
    height:70vh ;
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    padding-top: 3vh;
}
.signup-Left>img{
    width: 20vw;
    height: 43vh;
}

.signup-Right{
    height:70vh;
    width: 50vw;
}
#signup-gettheApp{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 3vh 0;
}

#signup-sendtheLink{
    font-size: 0.9rem;
    padding-bottom:2vh ;
    color: rgb(95, 93, 93);
}
.signup-checkbox{
    font-weight: 100;
    width: 18vw;
    display: flex;
    padding: 3vh 0;
    gap: 0.7vw;
   
    
}

#email-box{
    width: 23vw;
    height: 8vh;
    border-radius:11px;
    border: 1px solid #e0e0e0;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
#email{
    width: 15px;
}
#phone{
    width: 15px;
}

#email:checked{
    background-color: red;
}
.signup-button{
    width: 13vw;
    height: 6.5vh;
    padding: 1vh 1vw;
    background-color:#ef4f5f;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}
.signup-button:hover{
    background-color: #e23143;
    cursor: pointer;
}
#download-para{
    color: grey;
    font-weight: 50;
    font-size: 20px;
    margin-bottom: 2vh;
}
.signupEnd-img img{
    width: 12vw;
    height: 7vh;
}
.signupEnd-img img:hover{
    cursor: pointer;
}



/* footer-section */

.footer-section{
    height: 75vh;
    width: 99.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerSection-heading{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    width: 85vw;
    letter-spacing: 1.1px;
    color: rgb(33, 33, 33);
}
.footerSection-content{
    width:85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.footerInnerDrops{
    background-color: white;
    width: 83vw;
    height: 10vh;
    border-radius: 10px;
    margin-bottom: 2vh;
    border: 1px solid rgb(233, 229, 229);
}
.footerInnerDrops>span{
    display: flex;
    justify-content: flex-start;
    padding-left: 3vw;
    font-weight: 200;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    color: rgb(37, 36, 36);
}
.footerInnerDrops:hover{
    cursor: pointer;
}

/* finalSection */

.finalSection{
    height: 100vh;
    width: 99.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalSection-heading{
    width: 99.5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finalSection-headingLeft{
    margin-left: 7vw;
}
.finalSection-headingLeft img{
    width: 10vw;
    height: 5vh;
}
.finalSection-headingRight{
    margin-right: 7vw;
}
.finalDropdown1{
    width: 7vw;
    height: 6vh;
    padding: 0 1vw;
    font-size: 1.1rem;
    outline: none;
    border-radius: 5px;
}
.finalDropdown2{
    width: 10vw;
    height: 6vh;
    font-size: 1.1rem;
    padding: 0 1vw;
    outline: none;
    border-radius: 5px;
}

.finalSection-content{
    width: 70vw;
    display: flex;
}
.finalSection-content1{
    width: 18vw;

}
.finalSection-content2{
    width: 18vw;

}
.finalSection-content3{
    width: 18vw;

}
.finalSection-content4{
    width: 18vw;

}
.finalSection-content5{
    width: 18vw;

}
.final-lists{
    list-style: none;
    font-size: 0.7rem;
    color: grey;
    padding-bottom: 5px;
}