*{
    padding: 0;
    margin: 0;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.homePage{
    background: url(./Assets/heroSectionBackground.png);
    width: 100vw;
    height: 65vh;
   background-repeat: no-repeat;
   background-size: cover;
 
   
}
.navbar{
    height: 9vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.navbar-left{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: aliceblue;

}

    
.navbar-right{
    display:flex ;
    justify-content: flex-end;
    gap: 4vw;
    width: 60vw;   
}

.navbar-right > a{
    color: aliceblue;
    text-decoration: none;
}
#user-logo{
    padding: 1px 8px;
    border-radius: 50%;
    /* border: 2px solid white; */
}
@media (max-width:800px) {
    .navbar{
        font-size: 10px;
       
    }
    #user-logo{
        display: none;
    }
    .navbar-right{
        width: 74vw;
    }
}
.zomatoLogo{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    margin-top: 12vh;
    color: antiquewhite;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 2vh;
    text-align: center;
}


#zomatoLogo-img{
    width: 14vw;
    height: 7vh;

}
@media (max-width:800px) {
    #zomatoLogo-img{
        width: 38vw;
        height: 6vh;
    }
    .zomatoLogo{
        font-size: 1rem;
    }
}
.zomatoPlaceholders{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    
    text-align: center;
  
}
.placeholders1{
    width: 8vw;
    height: 5vh;
    padding: 25px 15px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #e0e0e0;

}
.placeholders2{
    width: 19vw;
    height: 5vh;
    padding: 25px 15px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (max-width:800px) {
    .placeholders1{
        width: 28vw;
        height: 4vh;
 
    }
    .placeholders2{
        width: 56vw;
        height: 4vh;
    }
}


 /* CARD-SECTION */

.card-section{
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    flex-direction: row;
    margin-top: 4vh;
}


.card-innerSection{
    display: flex;
    flex-direction: row;
    gap: 0.8vw;

}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}


.cards>img{
    height: 20vh;
    width: 15vw;
    border-radius: 5px;
}

.cardHeading{
    font-size: 18px;
    font-weight: 500;
}
.cardPara{
    font-size: 12px;
}